<html>
<head>
</head>
<body>
<form action="/agent/viewmyflights" method="POST">
	<h1>What flights do you want to see?</h1>
	Departure Date Range: <input type="text" name = "startDate" placeholder="yyyy-mm-dd" /> to <input type="text" name = "endDate" placeholder="yyyy-mm-dd" /> </br>
	<input type="submit" value = Search />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Order #</th>
	<th>Customer</th>
	<th>Airline</th>
	<th>Flight Number</th>
	<th>Plane ID</th>
	<th>Departure Date</th>
	<th>Departure Airport</th>
	<th>Arrival Date</th>
	<th>Arrival Airport</th>
	<th>Status</th>


{% for line in records %}
	<tr>
		<td>{{line['ID']}}</td>
		<td>{{line['email']}}</td>
		<td>{{line['airline']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['plane_ID']}}</td>
		<td>{{line['departure_date_time']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['arrival_date_time']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['status']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/agent">Go Back</a>

</body>


</html>
