<html>
<head>
</head>
<body>

<h1>Welcome {{username}}! What do you want to do?</h1>
<a href="/staff/view_customers">View Frequent Customers</a> <br/>
<a href="/staff/myflights">View Flights/ Change Status of Flights/ View Ratings</a> <br/>
<a href="/staff/add_airplane">Add New Airplane</a> <br/>
<a href="/staff/add_airport">Add New Airport</a> <br/>
<a href="/staff/add_flight">Create New Flights</a> <br/>
<a href="/staff/view_agents">View All Booking Agents</a> <br/>
<a href="/staff/view_reports">View Reports</a> <br/>
<a href="/staff/view_revenue">View Revenue</a> <br/>
<a href="/staff/view_destinations">View Top Destinations</a> <br/>

<p></p>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<p></p>

<a href="/logout">Logout</a>

</body>


</html>
