<html>
<head>
</head>
<body>

<h1>Welcome {{username}}! What do you want to do?</h1>
<a href="/staff/view_customers">View customers</a> <br/>
<a href="/staff/myflights">View My Flights</a> <br/>
<a href="/staff/add_airplane">Add airplane</a> <br/>
<a href="/staff/add_airport">Add airport</a> <br/>
<a href="/staff/view_agents">View agents</a> <br/>
<a href="/staff/view_reports">View reports</a> <br/>
<a href="/staff/view_revenue">View revenue</a> <br/>
<a href="/staff/view_destinations">view top destination</a> <br/>

<p></p>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<p></p>

<a href="/logout">Logout</a>

</body>


</html>
