<html>
<head>
</head>
<body>

<h1>View Frequent customers</h1>
<table>

	<th>name</th>
	<th>email</th>
	<th>number_of_tickets</th>
<p>Most Frequent Customer of Last Year</p>
{% for line in most %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['email']}}</td>
		<td>{{line['number_of_tickets']}}</td>
	</tr>
{% endfor %}
</table>

<table>

	<th>flight_number</th>
	<th>departure_date_time</th>
	
<p>The flight this customer has taken</p>
{% for line in data %}
	<tr>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_date_time']}}</td>
	</tr>
{% endfor %}
</table>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<p></p>
<a href="/staff">Go Back</a>

</body>


</html>