<html>
<head>
</head>
<body>

<h1>View Frequent customers</h1>
<table>

	<th>name</th>
	<th>email</th>
	<th>number_of_tickets</th>
<p>Most Frequent Customer of Last Year</p>
{% for line in most %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['email']}}</td>
		<td>{{line['number_of_tickets']}}</td>
	</tr>
{% endfor %}
</table>
<form action="view_customers" method="POST">
    <p></p>
    
    Select a customer to view his/her filghts: <select name= 'customer' class="selectpicker form-control" >
                    {% for customer in customer_list %}
                    <option value= "{{customer}}" SELECTED>{{customer}}</option>"
                    {% endfor %}
                    </select> </br>
    <input type="submit" value = Search />

</form>
{% if data %}
<table>

	<th>flight_number</th>
	<th>departure_date_time</th>
	
<p>The flight {{cust}} has taken</p>
{% for line in data %}
	<tr>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_date_time']}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<p></p>
<a href="/staff">Go Back</a>

</body>


</html>